---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Surfaces from "../components/Surfaces.astro";
import Features from "../components/Features.astro";
import Providers from "../components/Providers.astro";
import Automation from "../components/Automation.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Surfaces />
    <Features />
    <Providers />
    <Automation />
  </main>
  <Footer />
</Layout>
